{#
    /**
     * @file
     * Defaults
     * @package     Frontender Platform
     * @subpackage  Road-trip Project
     * @author      Babs Gösgens
     * @license     MIT License
     * @copyright   Copyright (C) 2014 - 2019 Dipity B.V. All rights reserved.
     * @link        http://getfrontender.com
     */
#}

<!--
    Note: To show a background image, set the "data-bg" attribute below
    to the url of your image.
-->

{% import "macros/template.html.twig" as helper %}
{% import "macros/unsplash.html.twig" as unsplash %}

<{{ config.container_tag|default("div") }}
    {{ helper.class_attribute(config, ["banner", config.overlay, config.alignment ]|join(" ")|trim)|raw }}
    {{ helper.id_attribute(config)|raw }}
    {% if content.show_bg|default(1) and model.urls.raw %}data-bg="{{ unsplash.crop(model, {w: 1480, h: 0}) }}"{% endif %}
    {{ helper.frontender_id_attribute(frontender, "frontender")|raw }}>
    <div class="{{ ["inner", config.width]|join(" ") }}">
        <h1>{{ content.headline|default( {"en-GB": "A taste of Frontender"})|t }}</h1>
        {% if content.show_tagline|default(true) %}
        <p class="attribution">
            <img class="attribution__brand" src="/assets/images/brand/f-dot-framed-theme.png"
                alt="{{ "Picture of the Frontender logo"|i18n }}">
            <a class="attribution__tagline" href="https://getfrontender.com"
                rel="follow">{{ content.tagline|default( {"en-GB": "Made with Frontender"})|t }}</a>
        </p>
        {% endif %}
    </div>
    {% include "demo/partials/unsplash-credit.html.twig" %}
</{{ config.container_tag|default("div") }}>