{#
    /**
     * @file
     * Defaults
     * @package     Frontender Platform
     * @subpackage  Road-trip Project
     * @author      Jeroen Leijten
     * @license     MIT License
     * @copyright   Copyright (C) 2014 - 2019 Dipity B.V. All rights reserved.
     * @link        http://getfrontender.com
     */
#}

<!--
    Note: To show a background image, set the "data-bg" attribute below
    to the url of your image.
-->

{% import "macros/template.html.twig" as helper %}

<{{ config.container_tag|default('section') }} id="banner" data-bg="{{ model.urls.raw }}&fit=crop?crop=faces&w=1480&q=80" {{ helper.class_attribute(config, ['']|join('  |  ')|trim)|raw }} {{ helper.container_id_attribute(frontender, 'frontender')|raw }}>
    {% if content.title|t %}
        <div class="inner">
            <div>
                <h1>{{ content.title|default( {"en-GB": "A taste of Frontender"})|t }}</h1>
                {% if content.show_payoff|default(1) %}
                <p>
                    <img class="attribution__brand" src="/assets/images/brand/f-dot-framed-theme.png" alt="{{ "Picture of the Frontender logo"|i18n }}">
                    <small class="attribution__slogan">{{ "Made with Frontender"|i18n }}</small>
                </p>
                {% endif %}
            </div>
        </div>
    {% endif %}
</{{ config.container_tag|default('section') }}>
