{#
    /**
     * @file
     * Defaults
     * @package     Frontender Platform
     * @subpackage  Road-trip Project
     * @author      Jeroen Leijten
     * @license     MIT License
     * @copyright   Copyright (C) 2014 - 2019 Dipity B.V. All rights reserved.
     * @link        http://getfrontender.com
     */
#}

{% import "macros/template.html.twig" as helper %}

<{{ config.container_tag|default('footer') }} {{ helper.class_attribute(config, ['']|join('  |  ')|trim)|raw }} id="footer" {{ helper.container_id_attribute(frontender, 'frontender')|raw }}>
    <div class="inner">
        <h2>{{ content.title|t }}</h2>

        <form action="#" method="post">
            <div class="field half first">
                <label for="name">Name</label>
                <input name="name" id="name" type="text" placeholder="Name">
            </div>
            <div class="field half">
                <label for="email">Email</label>
                <input name="email" id="email" type="email" placeholder="Email">
            </div>
            <div class="field">
                <label for="message">Message</label>
                <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
            </div>
            <ul class="actions">
                <li><input value="Send Message" class="button alt" type="submit"></li>
            </ul>
        </form>

        <ul class="icons">
            {% for icon in content.icons %}
                <li>
                    <a href="{{ icon.page|t }}" target="_blank" class="icon {{ icon.icon_size }} {{ icon.icon }}">
                        {% if icon.label|t %}
                            <span class="label">{{ icon.label|t }}</span>
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <div class="copyright">
            <div class="footer__accreditation accreditation">
                <p class="accreditation__copyright"><small>Images supplied by <a href="https://unsplash.com" target="_blank" rel="nofollow">Unsplash</a>. Template by <a href="https://templated.co" target="_blank" rel="nofollow">TEMPLATED</a></small></p><!--
                --><p class="accreditation__attribution">
                    <img class="attribution__brand" src="/assets/images/brand/f-dot-framed-theme.png" alt="Framed Frontender logo">
                    <small>Made with Frontender</small>
                </p>
            </div>
        </div>
    </div>
</{{ config.container_tag|default('footer') }}>
