{#
    /**
     * @file
     * Defaults
     * @package     Frontender Platform
     * @subpackage  Demo Project
     * @author      Jeroen Leijten
     * @license     MIT License
     * @copyright   Copyright (C) 2014 - 2019 Dipity B.V. All rights reserved.
     * @link        http://getfrontender.com
     */
#}

{% import "macros/template.html.twig" as helper %}

<{{ config.container_tag|default('footer') }} class="{{[config.container_class]|join('  |  ') }}" id="footer" {{ helper.container_id_attribute(frontender, 'frontender')|raw }}>
    <div class="inner">

        <h2>{{ content.title|t(locales) }}</h2>

        <form action="#" method="post">

            <div class="field half first">
                <label for="name">Name</label>
                <input name="name" id="name" type="text" placeholder="Name">
            </div>
            <div class="field half">
                <label for="email">Email</label>
                <input name="email" id="email" type="email" placeholder="Email">
            </div>
            <div class="field">
                <label for="message">Message</label>
                <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
            </div>
            <ul class="actions">
                <li><input value="Send Message" class="button alt" type="submit"></li>
            </ul>
        </form>

        <ul class="icons">
            <li><a href="#" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
        </ul>

        <div class="copyright">
            {{ content.copyright|t(locales) }} <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
        </div>

    </div>
</{{ config.container_tag|default('footer') }}>
