{#
    /**
     * @file
     * Defaults
     * @package     Frontender Platform
     * @subpackage  Road-trip Project
     * @author      Jeroen Leijten
     * @license     MIT License
     * @copyright   Copyright (C) 2014 - 2019 Dipity B.V. All rights reserved.
     * @link        http://getfrontender.com
     */
#}

{% import "macros/template.html.twig" as helper %}

<{{ config.container_tag|default('div') }} {{ helper.class_attribute(config, ['masthead', (page_config.subpage == true ? "alt" : "")]|join('  |  ')|trim)|raw }} id="header" {{ helper.container_id_attribute(frontender, 'frontender')|raw }}>
    
    {% if config.show_header|default(true) %}
        <div class="logo">
            <a href="{{ route() }}">{{ "Frontender"|i18n }} <span>{{ "Demo Website"|i18n }}</span></a>
        </div>
    {% endif %}

    <!-- Menu toggle -->
    <a href="#menu"><span>Menu</span></a>

    <nav id="menu">
        <ul class="links">
            <li><a href="{{ route({'page': '/' }) }}">Home</a></li>
            <li><a href="{{ route({'page': '/how-frontender-works' }) }}">How it works</a></li>
            <li><a href="{{ route({'page': '/documentation' }) }}">Documentation</a></li>

            <!-- @TODO replace with correct my.getfrontender link -->
            <li><a href="https://brickson.nl" target="_blank">Login</a></li>

            <!-- @TODO replace with correct download link -->
            <li><a href="https://brickson.nl" target="_blank">Download</a></li>

            {% for link in content.links %}
            <li><a href="{{ route({'page': link.page }) }}">{{ link.label|t }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</{{ config.container_tag|default('div') }}>