{#
    /**
     * @file        masthead.html.twig
     * @package     Frontender Platform
     * @subpackage  Road-trip Project
     * @author      Jeroen Leijten
     * @license     MIT License
     * @copyright   Copyright (C) 2014 - 2019 Dipity B.V. All rights reserved.
     * @link        http://getfrontender.com
     */
#}

{% import "macros/template.html.twig" as helper %}

<{{ config.container_tag|default("div") }}
    {{ helper.class_attribute(config, ['masthead', (page_config.subpage == true ? "alt" : "")]|join('  |  ')|trim)|raw }}
    {{ helper.id_attribute(config|merge({container_id: "header"}))|raw }} 
    {{ helper.frontender_id_attribute(frontender, "frontender")|raw }}>
    
    {% if config.show_header|default("1") %}
        <div class="logo">
            <a href="{{ route() }}">{{ "Frontender"|i18n }} <span>{{ "Demo Website"|i18n }}</span></a>
        </div>
    {% endif %}

    <!-- Menu toggle -->
    <a href="#menu"><span>Menu</span></a>

    <nav id="menu">
        <ul class="links">
            <li><a href="{{ route({'page': '' }) }}"  rel="follow">{{ "Home"|i18n }}</a></li>
            <li><a href="{{ route({'page': '/how-frontender-works' }) }}"  rel="follow">How it works</a></li>

            {% for link in content.links %}
                <li><a href="{{ route({'page': link.page }) }}" rel="nofollow">{{ link.label|t }}</a></li>
            {% endfor %}

            <li><a href="{{ route({'page': '/how-frontender-works/scopes' }) }}" rel="nofollow">Scopes</a></li>
            <li><a href="{{ route({'page': '/frontender-demosite-container-overview' }) }}" rel="nofollow">Container overview</a></li>
            <li><a href="{{ route({'page': '/frontender-container-recepees' }) }}" rel="follow">Container cookbook</a></li>
        </ul>

        <footer class="leader--double">
            <a href="/download-frontender-desktop" class="button">Download Frontender</a>
        </footer>
    </nav>
</{{ config.container_tag|default('div') }}>