{#
    /**
     * @file
     * Defaults
     * @package     Frontender Platform
     * @subpackage  Road-trip Project
     * @author      Jeroen Leijten
     * @license     MIT License
     * @copyright   Copyright (C) 2014 - 2019 Dipity B.V. All rights reserved.
     * @link        http://getfrontender.com
     */
#}

{% import "macros/template.html.twig" as helper %}

<!DOCTYPE html>
<html lang="{{ locale }}">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153493716-1"></script>
        <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'UA-153493716-1');</script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        {% block title %} {% endblock %}
        {% block meta %} {% endblock %}
        {% block stylesheets %} {% endblock %}
        {{ renderAssets('styles')|raw }}
        {% block scripts %} {% endblock %}
    </head>
    <body{{ helper.class_attribute(root_config, [root_config.cupcake, (root_config.subpage == true ? "subpage" : "")]|join('  |  ')|trim)|raw }}{{ helper.frontender_id_attribute(frontender, "frontender")|raw }}>
        {% for container in containers %}
            {% include container.template with container %}
        {% endfor %}
        {{ renderAssets('beforeBodyEnd')|raw }}
        
    </body>
</html>
