{#
    /**
     * @file
     * Defaults
     * @package     Frontender Platform
     * @subpackage  Road-trip Project
     * @author      Jeroen Leijten
     * @license     MIT License
     * @copyright   Copyright (C) 2014 - 2019 Dipity B.V. All rights reserved.
     * @link        http://getfrontender.com
     */
#}

{% import "macros/template.html.twig" as helper %}

<{{ config.container_tag|default("div") }}
    {{ helper.class_attribute(config, ["", config.alignment , config.theme ]|join(" ")|trim)|raw }}
    {{ helper.id_attribute(config, frontender)|raw }}
    {{ helper.frontender_id_attribute(frontender, "frontender")|raw }}>
    
    {% if content.title|t %}
        <h3 class="trailer--double">{{ content.title|t }}</h3>
    {% endif %}

    <form class="align-left" method="post" action="#{{ helper.id_value(config) }}">
        <div class="row uniform">
            <div class="6u 12u$(xsmall)">
                <label for="name">{{ labels.name|t|default("Name"|i18n) }}</label>
                <input type="text" name="name" id="name" value="" placeholder="{{ labels.name|t|default("Name"|i18n) }}">
            </div>
            <div class="6u$ 12u$(xsmall)">
                <label for="email">{{ labels.email|t|default("Email"|i18n) }}</label>
                <input type="email" name="email" id="email" value="" placeholder="{{ labels.email|t|default("Email"|i18n) }}">
            </div>

            <div class="12u$">
                <div class="select-wrapper">
                    <label for="category">{{ labels.category|t|default("Category"|i18n) }}</label>
                    <select name="category" id="category">
                        <option value="">- {{ "Category"|i18n }} -</option>
                        {% for option in content.select %}
                            <option value="{{ option|t|lower|replace({' ': '-'}) }}">{{ option|t }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            {% if content.radio or content.checkbox %}
                <div class="12u$">
                    {% for radio in content.radio %}
                    <div class="4u 12u$(small)">
                        <input type="radio" id="{{ radio|t|lower|replace({' ': '-'}) }}" name="priority" checked="">
                        <label for="{{ radio|t|lower|replace({' ': '-'}) }}">{{ radio|t }}</label>
                    </div>
                    {% endfor %}
                    {% for checkbox in content.checkbox %}
                    <div class="6u 12u$(small)">
                        <input type="checkbox" id="{{ checkbox|t|lower|replace({' ': '-'}) }}" name="{{ checkbox|t|lower|replace({' ': '-'}) }}">
                        <label for="{{ checkbox|t|lower|replace({' ': '-'}) }}">{{ checkbox|t }}</label>
                    </div>
                    {% endfor %}
                </div>
            {% endif%}

            <div class="12u$">
                <label for="message">{{ labels.message|t|default("Message"|i18n) }}</label>
                <textarea name="message" id="message" placeholder="{{ "Enter your message"|i18n }} " rows="6"></textarea>
            </div>

            <div class="12u$">
                <ul class="actions">
                    <li><input type="submit" value="{{ labels.submit|t|default("Send message"|i18n) }}"></li>
                    <li><input type="reset" value="{{ labels.reset|t|default("Reset"|i18n) }}" class="alt"></li>
                </ul>
            </div>
        </div>
    </form>
</{{ config.container_tag|default('div') }}>