{#
    /**
     * @file
     * Defaults
     * @package     Frontender Platform
     * @subpackage  Road-trip Project
     * @author      Jeroen Leijten
     * @license     MIT License
     * @copyright   Copyright (C) 2014 - 2019 Dipity B.V. All rights reserved.
     * @link        http://getfrontender.com
     */
#}

{% import "macros/template.html.twig" as helper %}

<{{ config.container_tag|default("div") }}
 {{ helper.class_attribute(config, []|join(" ")|trim)|raw }}
 {{ helper.container_id_attribute(frontender, "frontender")|raw }}>
    <{% if content.title|t and content.catch_phrase|t %}
        <header>
            <h1>{{ content.title|t }}</h1>
            <p>{{ content.catch_phrase|t }}</p>
        </header>
    {% else %}
    <div class="header">
        {% if content.title|t %}
            <h1>{{ content.title|t }}</h1>
        {% endif %}
        {% if content.catch_phrase|t %}
            <p>{{ content.catch_phrase|t }}</p>
        {% endif %}
    </div>
    {% endif %}
    {% if content.body|t %}
        <div class="content">
            {{ content.body|t|markdown|raw }}
        </div>
    {% endif %}
    {% if content.button.page|t %}
        <footer>
            <a href="{{ content.button.page|t }}" class="button alt">{{ content.button.label|default({"en-GB": "Read more"})|t }}</a>
        </footer>
    {% endif %}
</{{ config.container_tag|default("div") }}>