{#
    /**
     * @file
     * Defaults
     * @package     Frontender Platform
     * @subpackage  Road-trip Project
     * @author      Jeroen Leijten
     * @license     MIT License
     * @copyright   Copyright (C) 2014 - 2019 Dipity B.V. All rights reserved.
     * @link        http://getfrontender.com
     */
#}

{% import "macros/template.html.twig" as helper %}

<{{ config.container_tag|default('div') }} {{ helper.class_attribute(config, [config.theme]|join('  |  ')|trim)|raw }} {{ helper.container_id_attribute(frontender, 'frontender')|raw }}>
    <div class="container">
        <div class="row">
            {% if content.image_alignment|default("right") == "left" %}
            <div class="6u 12u$(medium)">
                {% if model.urls.regular %}
                <span class="image fit">
                    <img src="{{ model.urls.raw }}&fit=crop?crop=faces&w=750&q=80" alt="{{ model.description }}">
                </span>
                {% endif %}
            </div>
            {% endif %}
            <div class="6u 12u$(medium)">
                {% if content.title|t %}
                <h2>{{ content.title|t }}</h2>
                {% endif %}
                {% if content.body|t %}
                {{ content.body|t|markdown|raw }}
                {% endif %}
            </div>
            {% if content.image_alignment|default("right") == "right" %}
            <div class="6u 12u$(medium)">
                {% if model.urls.regular %}
                <span class="image fit">
                    <img src="{{ model.urls.raw }}&fit=crop?crop=faces&w=750&q=80" alt="{{ model.description }}">
                </span>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</{{ config.container_tag|default('div') }}>
